
# Ignore everything in parent directories
../
../../

# OS files
.DS_Store
.Trash/

# Project specific
node_modules/
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.vscode/
*.code-workspace

# Misc
*.log
=======
# Ignore system and personal files
.DS_Store
.CFUserTextEncoding
.bash*
.aws/
.anaconda/
.ipython/
.jupyter/
.oh-my-zsh/
.ssh/

# Ignore any hidden folders in parent directories
../../../*
node_modules
